<!DOCTYPE html>
<html lang="pt-br">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <body>
  <br>
    <% if(messages.erro) { %>
      <div class="alert alert-danger alert-dismissible fade show col-md-11 mx-auto" role="alert">
        <%=messages.erro %>
      </div>
    <% } %>
    <% if(messages.info) { %>
      <div class="alert alert-success alert-dismissible fade show col-md-11 mx-auto" role="alert">
        <%=messages.info %>
      </div>
    <% } %>
    <div class="conteiner">
        <div class="row">
          <div class="col-sm-12 col-md-3 mb-4">
            <div class="card float-left bg-dark text-light ml-2 mb-2" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title p-3 text-capitalize"> <%= sensor.name_sensor %> 
                    <a class="float-right" href="/usuarios/user/<%= session._id %>/sensores/editar/<%= sensor._id %>">
                    <button type="button" class="btn btn-primary">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </a> </h3>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span class="w-50"> Tipo: </span> <span class="w-50"> <%= sensor.type_sensor %> </span></li>
                  <li class="list-group-item"><span class="w-50"> Modelo: </span> <span class="w-50"> <%= sensor.model_sensor %> </span></li>
                  <li class="list-group-item"><span class="w-50"> Dispositivo: </span> <span class="w-50"> <%= sensor.device %> </span></li>
                  <li class="list-group-item"><span class="w-50"> Local: </span> <span class="w-50"> <%= sensor.local %> </span></li>
                  <li class="list-group-item"><span class="w-50"> Dados: </span> <span class="w-50 total-atual"> <%= dados.length %> </span></li>
                </ul> 
                <div class="card-body p-3 text-center">
                    <span class=" float-left w-25 mt-2"> Opções: </span>
                    <span class=" float-left w-75">
                        <a title="Visualizar Grafico" class="btn btn-primary" href="/usuarios/user/<%= session._id %>/sensores/sensor/<%= sensor._id %>/grafico">
                          <i class="fa fa-line-chart"></i>
                        </a>
                        <a title="Download de todos os <%= dados.length %> dados" href="/download" class="btn btn-success">
                          <i class="fa fa-download"></i>
                        </a>
                        <button title="Excluir sensor" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                          <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </span>
                </div>
              </div>
          </div>
          <div class="col-md-5 col-sm-12 mx-auto my-auto text-center">
            <p class="mt-0">Ultima leitura: </p>
            <% if (dados.length < 1){ %>
              <h2 class="display-4 ultima-leitura">Nenhum dado encontrado</h2>
            <% } else { %>
            <h1 class="display-3 ultima-leitura"> <%= parseFloat(dados[dados.length-1].value ).toFixed(2) %> A</h1>
            <% } %>
          </div>
          <div class="col-sm-12 col-md-4 my-auto text-center">
            <p>Total / Grafico </p>
            <h1 class="display-3"> 
              <span class="total-atual"><%= dados.length %></span> <span>&nbsp;</span> 
              <a title="Grafico" href="/usuarios/user/<%= session._id %>/sensores/sensor/<%= sensor._id %>/grafico">
                <i class="fa fa-line-chart"></i>
              </a>
            </h1>
          </div>
        </div>
        <a href="/usuarios/user/<%=session._id%>/sensores" class="btn btn-primary float-right mt-4">Voltar</a>
        <br>
    </div>
  
  <script>
      var io = io();
      $(function(){
          var sensor = <%- JSON.stringify( sensor) %>;
          var total_atual = $('.total-atual').html();
          io.on('msg', function(msg){
              var dados = {
                type_sensor: msg.msg['type_sensor'],
                model_sensor: msg.msg['model_sensor'],
                name_sensor: msg.msg['name_sensor'],
                user : msg.msg['user'],
                local: msg.msg['local'],
                device : msg.msg['device']
              }
              if (dados.user == sensor.user && dados.name_sensor == sensor.name_sensor && dados.model_sensor == sensor.model_sensor && dados.type_sensor == sensor.type_sensor && dados.device == sensor.device && dados.local == sensor.local ){
                total_atual++;
                $('.ultima-leitura').html(parseFloat(msg.msg['value']).toFixed(2) +" A");
                $('.total-atual').html(total_atual);
              }else{
                  console.log('erro, nao sao iguais!');
              }
          });
      });
      
  </script>
  
  </body>
  <% include ../partials/footer %>
  <% include ../partials/modal_sensor %>
  

</html>