<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Energysaver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Visa a diminuicao no cnsumo de energia eletrica">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.jpg">
    <script type="text/javascript" src='/js/jquery.min.js'></script>
    <script type="text/javascript" src='/js/Chart.js'></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script type="text/javascript">
      io = io();
    </script>
  </head>
    <header class="cabecalho conteiner bg-dark">
      <button class="btn-menu">
        <i class="fa fa-bars fa-lg color-white"></i>
      </button>
      <a href="/"><h1 class="logo">Energysaver</h1></a>
      <nav class="menu">
        <a href="#" class="btn-close"><i class="fa fa-close"></i></a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="visited" href="/dados">Dados</a></li>
          <li><a href="/">Monitoramento</a></li>
        </ul>
      </nav>
    </header>
    <body>
      <div class="search-box">
        <form method="POST" action="/search">
          <label><h3>Pesquisar por data:</h3></label>
          <input type="text" name="day" placeholder="AAAA-MM-DD" />
          <button class="btn bg-blue color-white"><i class="fa fa-search"></i></button>
          <a href="/download" class="btn bg-blue color-white"><i class="fa fa-download"></i></a>
        </form>
        <br />
        <p>
          <% if (dados.length > 0) { %>
          Exibindo <%= dados.length%> resultados para "<%= day_search %>".
          <% } else { %>
            Nenhum resultado para "<%= day_search %>".
          <% } %>
        </p>
        <hr class="my-4 bg-white" />
      </div>
      <main class="box-chart">
        <canvas class="line-chart"></canvas>
      </main>
  </body>
  <footer class="rodape bg-blue">
    <center>
      <div class="social-icons">
        <a href="mailto:daltonphellipe@gmail.com" ><i class="fa fa-google fa-lg"></i></a>
        <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
      <p>Energysaver | 2017 - UFOPA</p>
    </center>
  </footer>
  <script type="text/javascript">
    $(".btn-menu").click(function(){
      $(".menu").show();
    });
    $(".btn-close").click(function(){
      $(".menu").hide();
    });
  </script>
  <script type="text/javascript">
  var ctx = document.getElementsByClassName("line-chart");
  var ChartGraph = new Chart( ctx, {
    type: 'line',
    data: {
      labels : <%-JSON.stringify(labels) %>,
      datasets :[
      {
        label : "Corrente (A)",
        strokeColor: "#fff",
        fontColor: "#fff",
        data : <%-JSON.stringify(dtav) %>,
        borderWidth : 2,
        //pointStyle: "rectRounded",
        tension: 0,
        pointRadius: 2,
        borderColor : '#3399ff',
        backgroundColor: 'rgba(51, 51, 51, 0.5)'
      }
      ]
    },
    options: {
      title: {
        display : true,
        fontSize: 20,
        text: "Corrente (A)",
        fontColor: "#fff"
      },
      scales:
      {
        xAxes: [{
            display: true,
            gridLines: {
              color: "rgba(255,255,255,0.1)",
              zeroLineColor:"rgba(255,255,255,1)"
            },
            ticks: {
              beginAtZero: true,
              fontColor: "#fff"
            }
        }],
        yAxes: [{
            display: true,
            gridLines: {
              color: "rgba(255,255,255,0.1)",
              zeroLineColor:"rgba(255,255,255,1)"
            },
            ticks: {
              beginAtZero: true,
              fontColor: "#fff",
            }
        }]
      },
      responsive: true,
      maintainAspectRatio: false,
      animation: false
      }
  });

// function setData(data) {
//   data.push(<%-JSON.stringify(dtav) %>);
//   data.update();
// }

</script>
</html>
