<!DOCTYPE html>
<html lang="pt-br">
  <% include ../partials/head %>
  <% include ../partials/header %>
  <body>
  <br>
    <% if(messages.erro) { %>
      <div class="alert alert-danger alert-dismissible fade show col-md-11 mx-auto" role="alert">
        <%=messages.erro %>
      </div>
    <% } %>
    <% if(messages.info) { %>
      <div class="alert alert-success alert-dismissible fade show col-md-11 mx-auto" role="alert">
        <%=messages.info %>
      </div>
    <% } %>
    <div class="conteiner">
        <h2> <%= user.nome %> 
          <button type="button" class="float-right btn-sm btn-danger fa fa-trash" data-toggle="modal" data-target="#exampleModal"></button>
        </h2>
        <hr>
        <h5>Perfil:</h5>
        <p class="ml-2"> Email: <%= user.email %> </p>
        <hr>
        <p class="ml-2"> Username: <%= user.user %> </p>
        <hr>
        <p class="ml-2"> Nascimento: <%= user.nascimento %> </p>
        <hr>
        <h3>Adicionar sensor
          <span>&nbsp;</span>
          <button class="btn btn-sm btn-primary add">&plus;</button>
        </h3>        
        <div class="addSensor">
          <form action="/usuarios/user/<%= user._id %>/sensores/adicionar" method="post">
            <input type="text" class="form-control d-none" value="<%= session.user %>" name="user" value="<%=sensor.user || '' %>">
            <div class="row mb-2">
              <div class="input-group col-md-3">
                <span class="input-group-addon bg-dark text-white">Nome</span>
                <input type="text" class="form-control" name="name_sensor" required placeholder="ex.: corrente-01">
              </div>
              <div class="input-group col-md-3">
                <span class="input-group-addon bg-dark text-white">Tipo </span>
                <input type="text" class="form-control" name="type_sensor" required placeholder="ex.: corrente">
              </div>
            </div>
            <div class="row mb-2">
                <div class="input-group col-md-3">
                    <span class="input-group-addon bg-dark text-white">Modelo </span>
                    <input type="text" class="form-control" name="model_sensor" required placeholder="ex.: SCT-013">
                  </div>
                <div class="input-group col-md-3">
                  <span class="input-group-addon bg-dark text-white">Local </span>
                  <input type="text" class="form-control" name="local" required placeholder="ex.: labic">
                </div>
              </div>
              <div class="row mb-2">
                <div class="input-group col-md-3">
                  <span class="input-group-addon bg-dark text-white">Dispositivo </span>
                  <input type="text" class="form-control" name="device" required placeholder="ex.: raspberry pi">
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-outline-primary btn-block">Adicionar</button>
                </div>
              </div>
          </form>
        </div>
      <br>
      <a href='/usuarios/user/<%= session._id %>/sensores' ><button class="btn btn-primary" >Meus sensores</button></a>        
      <a href="/usuarios/" class="btn btn-primary float-right">Voltar</a>
    </div>
  </body>
  <% include ../partials/footer %>
</html>
<!-- Modal -->
<% include ../partials/modal %>