<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="refresh" content="500" >
    <title>Energysaver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Visa a diminuicao no consumo de energia eletrica">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/icon.jpg">
    <script src="js/script.js"></script>
    <script src="js/Chart.min.js"></script>
  </head>
  <body class="home">
    <header class="cabecalho">
      <a href="/"><h1 class="logo">Energysaver</h1></a>
      <button class="btn-menu"><div class="bars"></div></button>
      <nav class="menu">
      <a class="btn-close">×</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/comments">Comentarios</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/dados">Dados</a></li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <div class="title">
        <h2>Unindo tecnologia e sustentabilidade!</h2>
        <h3>Faça-nos um comentário</h3>
      </div>
      <div class="buttons">
        <a href='/feedback'>
        <button class="btn-feedback">Feedback</button>
        </a>
        <a href='/sobre'>
        <button class="btn-sobre">Sobre</button>
        </a>
      </div>
    </div>
    <main class="servicos">
    <article class="sobre">
    <section class="search-box">
      <h2>Pesquisar dados por data:</h2>
      <form action="/search" method="POST">
      <input type="text" name="day":" placeholder="Pesquisar por data">
      <button>Ir</button>
      <p class="search-result"><%=day_search %></p>
      <p >
        <% var rtd = ' Nenhum Resultado', rtds = 'Resultados' %>
        <% if (dados.length == 0 ) { %>
        <%= rtd %>
        <% } else { %>
        <%= dados.length %>
        <%= rtds %>
        <%  } %>
      </p>
      </form>
      <div class="download-box">
        <h2><a href="/download" class="download"> Download dos dados para excel!</a></h2>
      </div>
    </section>
    <section class="box-chart">
        <canvas class="line-chart square-chart"></canvas>
    </section>
    <section>
    </center>
    </section>
    </article>
    </main>
    <footer class="rodape">
    <p>© 2017 | Energysaver, a Science & Tech distribuition.</p>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script>
      $(".btn-menu").click(function(){
        $(".menu").show();
      });
      $(".btn-close").click(function(){
        $(".menu").hide();
      });
    </script>
    <script type="text/javascript">
    var ctx = document.getElementsByClassName("line-chart");
    var ChartGraph = new Chart( ctx, {
      type: 'line',
      data: {
        labels : <%-JSON.stringify(labels) %>,
        datasets :[
        {
          label : "Corrente",
          data : <%-JSON.stringify(dtav) %>,
          borderWidth : 4,
          pointRadius: 1,
          borderColor : '#333',
          backgroundColor: 'rgba(51, 51, 51, 0.0)'
        }
        ]
      },
      options: {
        title: {
          display : true,
          fontSize: 20, 
          text: "Corrente"
        }, 
        scales:
        {
            xAxes: [{
                display: false,
                scaleBeginAtZero: true
            }],
            yAxes: [{
                display: true,
                scaleBeginAtZero: true
            }]
        },
        responsive: true,
        maintainAspectRatio: false,
        animation: false
        }
    });

  function setData(data) {
    data.push(<%-JSON.stringify(dtav) %>);
    data.update();
  }
  
</script>
  </body>
</html>

